/* Quicksand google font import */
/* font-family: 'Quicksand',
sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: gray;
    max-width: 1024px;
    margin: auto;
    
}

nav {
    font-size: 28px;
    padding: 1rem;
    background-color: aliceblue;

}

nav > a {
    text-decoration: none;
    color: dimgray;
    margin-left: 0.5rem;

}

article {
    margin-left: 100px;
    color: aliceblue;
}

section {
    display: flex;
}

aside {
    width: 35%;
    float: right;

}

#head {
    background-image: url('/assets/photos/Cuphead-Draw-.jpg');
}


h1 {
    font-size: 5rem;
    margin: 10px;
}

.text-center {
    text-align: center;
}

.page-header {
    height: 20vh;
    background: center no-repeat;
    font-family: ;
}

.flex {
    display: flex;
}

.hor-center {
    justify-content: center;
}

.ver-center {
    align-self: center;
}