/* Quicksand google font import */
/* font-family: 'Quicksand',
sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* Classes */
.text-center {
  text-align: center;
}

.page-header {
  height: 20vh;
  background: center no-repeat;
}

.flex {
  display: flex;
}

.hor-center {
  justify-content: center;
}

.ver-center {
  align-self: center;
}

.headhighlight {
  display: block;
  padding: 0 0;
  background-color: black;
}

.xxl {
  font-size: xx-large;
}

.underline {
  text-decoration: underline;
}

/* Elements */

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-image: url("/assets/photos/1920x1200");
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

h1 {
  font-size: 5rem;
}

article > h2 {
  margin-left: 2em;
}

header {
  color: moccasin;
}

header > p {
  color: black;
}

nav {
  font-size: 28px;
  padding: 1.5rem 0 1.5rem 0;
  max-width: 1024px;
  margin: auto;
  background-color: aliceblue;
}

nav > a {
  text-decoration: none;
  color: dimgray;
  margin-left: 1rem;
}

article {
  background-color: gray;
  max-width: 1024px;
  max-height: 100%;
  color: aliceblue;
  margin: auto;
}

section {
  display: flex;
}

div {
  margin: 2em;
}

aside {
  width: 40%;
  float: center;
  background-color: silver;
}

#head {
  background-image: url("/assets/photos/Cuphead-Draw-.jpg");
}
